
<table class="table" >
  <thead >
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Classification</th>
  </tr>
  </thead >
  <tbody>
  <tr *ngFor="let product of products">
    <td><h6>{{product.name}}</h6></td>
    <td><form><input class="form-control-sm" [(ngModel)]="product.currentAmount" (change)="countPrice()" cminlength="1" maxlength="4" name="first"></form></td>
    <td><h6>{{product.classificationByClassification.name}}</h6></td>
    <td><button class="btn btn-danger" (click)="deleteProductFromBasket(product.idProduct)">delete</button></td>
  </tr>
  </tbody>
</table>
<h6>The final price: {{count}}$</h6>
<p></p>
<button type="button" class="btn btn-primary"  (click)="openModal()" [disabled]="flag">checkout</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Order</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="Input">Adress</label>
        <input  class="form-control" id="Input"  placeholder="Enter" [formControl]="adressControl">
        <div *ngIf="adressControl.touched">
          <div class="alert alert-danger" *ngIf="adressControl.invalid">
            incorrect adress
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment" [formControl]="descripControl"></textarea>
        <div *ngIf="descripControl.touched">
          <div class="alert alert-danger" *ngIf="descripControl.invalid">
            incorrect comment
          </div>
        </div>
      <button type="submit" class="btn btn-primary" (click)="createOrder()" [disabled]="adressControl.invalid || descripControl.invalid">Submit</button>
      </div>
    </form>
  </div>
  <div *ngIf="isOrderFailed" class="alert alert-danger">
    {{errorMessage1}}
  </div>
</ng-template>


<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Log in:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="e-mail">E-mail</label>
        <input type="text" class="form-control" [formControl]="loginControl" id="e-mail">
        <div *ngIf="loginControl.touched">
          <div class="alert alert-danger" *ngIf="loginControl.invalid">
            incorrect email
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pass">password</label>
        <input type="password" class="form-control" [formControl]="passwordControl" id="pass">
        <div *ngIf="passwordControl.touched">
          <div class="alert alert-danger" *ngIf="passwordControl.invalid">
            incorrect password
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-info" (click)="logIn()">log in</button>

    <div *ngIf="isLoginFailed" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <p></p>
    <a routerLink="/registration" (click)="closeModal()" ><p>Don't have an account?</p></a>
  </div>
</ng-template>
