<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 ">
      <h4 class="mb-3">Personal data</h4>
      <form class="needs-validation" novalidate="" [formGroup]="userForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder=""   formControlName="firstname" [value]="user.firstname">

          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" formControlName="lastname" [value]="user.lastname">
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" formControlName="email"   [value]="user.email">
          </div>
        </div>

        <div class="mb-3">
          <label for="number">Number phone</label>
          <div class="input-group">
            <input type="text" class="form-control" id="number" placeholder="Username"  formControlName="phoneNumber" [value]="user.phoneNumber">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <h5 >My orders:</h5>
      <table class="table" >
        <thead >
        <tr>
          <th>№</th>
          <th>Date</th>
          <th> final Price($)</th>
          <th></th>
          <th></th>
        </tr>
        </thead >
        <tbody>
        <tr *ngFor="let order of user.orders">
          <th>{{order.id}}</th>
          <th>{{order.date}}</th>
          <th>{{order.finalPrice}}</th>
          <th><button class="btn btn-info" (click)="openModal(template, order.productsTransf)">Products</button>
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Products</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>products - amount</h6>
    <ul *ngFor="let product of products" class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">{{product.product.name}}
        <span class="badge badge-primary badge-pill">{{product.amount}}</span>
      </li>
    </ul>
  </div>
</ng-template>
