
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <div class="d-flex justify-content-start">
      <div style="border: 20px black ">
      <a class="navbar-brand"><h3 style="-webkit-text-stroke: 1px #55993a; color: #31c752 ;">Pharmacy</h3></a>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle my-2 my-sm-0"
                  aria-controls="dropdown-basic">
            <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><h6 class="dropdown-item" *ngFor="let class1 of classifications" (click)="onSelect(class1.idClassification)">{{class1.name}}</h6></li>
          </ul>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [formControl]="searchControl">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
      </form>
    </div>
    </div>

  <a class="nav-item nav-link text-nowrap " routerLink="/user" [hidden]="!isLoggedIn">user account</a>
  <div class="d-flex justify-content-end">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <a class='btn btn-outline-success' routerLink="/basket"><img src='../../../assets/img/png-4.png' width="25" height="25"></a>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="openModal(template)" [hidden]="isLoggedIn">Log in</button>
        <button class="btn btn-outline-success" (click)="logOut()" [hidden]="!isLoggedIn">log Out</button>

      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

</nav>




<div style="margin-left: 17%">
<form >
  <div class="form-row">
  <div class="form-group col-sm-1">
<input type="text" class="form-control form-control-sm" aria-label="Small" placeholder=" price: min" [(ngModel)]="minPrice" name="min" (keypress)="numberOnly($event)">
  </div>
  <h4>-</h4>
  <div class="form-group col-sm-1">
  <input type="text" class="form-control form-control-sm" aria-label="Small" placeholder="price: max" [(ngModel)]="maxPrice" name="max" (keypress)="numberOnly($event)">
  </div>
  </div>
</form>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Log in:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <form>
    <div class="form-group">
      <label for="e-mail">E-mail</label>
      <input type="text" class="form-control" [formControl]="loginControl" id="e-mail">
      <div *ngIf="loginControl.touched">
        <div class="alert alert-danger" *ngIf="loginControl.invalid">
          incorrect email
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="pass">password</label>
      <input type="password" class="form-control" [formControl]="passwordControl" id="pass">
    </div>
  </form>
  <button class="btn btn-info" (click)="logIn()">log in</button>

    <p></p>
  <div *ngIf="isLoginFailed" class="alert alert-danger">
    {{errorMessage}}
  </div>
  <p></p>
  <a routerLink="/registration" (click)="closeModal()" ><p>Don't have an account?</p></a>
</div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
