<nav-app></nav-app>
<div style="margin-left: 25%">


</div>

<div class="container-fluid" style="padding-top: 0% " align="right">
  <div class="row" style="padding-bottom: 10%">
  <div class="col-2 table table-borderless border-right">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" aria-controls="dropdown-basic">
        filter:<span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><h6 class="dropdown-item" (click)="sortProducts(idClassif, true , flag, flag)">a-z</h6></li>
        <li role="menuitem"><h6 class="dropdown-item" (click)="sortProducts(idClassif, flag , true, flag)">Price min</h6></li>
        <li role="menuitem"><h6 class="dropdown-item" (click)="sortProducts(idClassif, flag , flag, true)">Price max</h6></li>
        <li class="divider dropdown-divider"></li>
      </ul>
      <button class="btn btn-outline-success" (click)="resetFilters()">reset filters</button>
    </div>
    <table  style=" width: 104% ">
      <thead >
      <tr>
        <th class="text-secondary">Classifications:
        </th>
      </tr>
      </thead>
      <tbody>
      <tr></tr>
      <tr *ngFor="let classif of classifications">
        <td><h6><a href="#" (click)="sortProducts(classif.idClassification, aZ, priceMin, priceMax)" >{{classif.name}}</a></h6></td>
      </tr>
      </tbody>
    </table>
  </div>
    <div class="col-10 border-top-0">
      <table class="table" >
        <thead >
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Price($)</th>
          <th>Classification</th>
          <th></th>
          <th></th>
        </tr>
        </thead >
        <tbody>
        <tr *ngFor="let product of products">
          <td><h6>{{product.name}}</h6></td>
          <td><h6>{{product.amount}}</h6></td>
          <td><h6>{{product.price}}</h6></td>
          <td><h6>{{product.classificationByClassification.name}}</h6></td>
          <td><button class="btn btn-info" (click)="openModal(template, product.description)">More</button></td>
          <td><button class="btn btn- info" (click)="addToBuscket(product)">Add
            to bucket</button></td></tr>
        </tbody>
      </table>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example" style="padding-left: 16%">
      <button type="button" class="btn btn-secondary" (click)="PreviosPage()">Previous</button>
      <button type="button" class="btn btn-secondary" (click)="nextPage()">Next</button>
    </div>
  </div>
  </div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Descriptions:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{descriptions}}
  </div>
</ng-template>
