<div>
  <tabset>
    <tab heading="Orders" id="tab1">
      <div class="container-fluid" style="margin-top: 1%">
        <div class="row">
          <div class="col-8">
            <table class="table">
              <thead class="thead-light">
              <tr>
                <th>№</th>
                <th>Date</th>
                <th>Shipping adress</th>
                <th>Status</th>
                <th>Products</th>
                <th>Final price</th>
                <th>User</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders">
                <td><h6>{{order.id}}</h6></td>
                <td><h6>{{order.date}}</h6></td>
                <td><h6>{{order.shippingAdress}}</h6></td>
                <td>
                  <select class="form-control" [(ngModel)]="order.status" name="status" #assign="ngModel" >
                  <option *ngFor="let status of statuses.statuses"  >{{status}}</option>
                </select>
                </td>
                <td>
                  <button class="btn btn-info" (click)="openModal(template, order.productsTransf)">Products</button>
                </td>
                <td><h6>{{order.finalPrice}}</h6></td>
                <td>
                  <button class="btn btn-info" (click)="openModalUser(template1, order.user)" >User Info</button>
                </td>
                <td>
                  <button class="btn btn-secondary" (click)="updateOrder(order)">Edit</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="col-4 border-left">
            <h5>Search:</h5>
            <form>
              <label>Choose date:</label>
              <div class="form-row">
                <div class="form-group col-sm-5">
                  <input type="date" class="form-control" id="date" [(ngModel)]="start" name="start" required>
                </div>
                <h4>-</h4>
                <div class="form-group col-sm-5">
                  <input type="date" class="form-control" [(ngModel)]="end"  name="end"  required>
                </div>
              </div>
              <label>Choose status:</label>
              <div class="form-group col-5">
                <select class="form-control" [(ngModel)]="status"  name="status">
                  <option value="" disabled selected>Select status</option>
                  <option *ngFor="let status1 of statuses.statuses"    >{{status1}}</option>
                </select>
                </div>
              <label>Input user lastname:</label>
              <div class="form-group col-sm-7">
                <input type="text" class="form-control"  [(ngModel)]="last" name="last" placeholder="input last name user"  >
              </div>
              <label>Input user firstname:</label>
              <div class="form-group col-sm-7">
                <input type="text" class="form-control"  [(ngModel)]="first" name="first" placeholder="input first name user">
              </div>
            </form>
            <button class="btn btn-primary" (click)="searchOrder()">Search</button>
          </div>
          </div>
        </div>
    </tab>
    <tab heading="Products">Basic content 1</tab>
  </tabset>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Products</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>products - amount</h6>
    <ul *ngFor="let product of products" class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">{{product.product.name}}
        <span class="badge badge-primary badge-pill">{{product.amount}}</span>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-header">
    <h5 class="modal-title pull-left">User Info</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" novalidate="">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName"  readonly  placeholder="" [value]="user.firstname">
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName" placeholder=""  readonly  [value]="user.lastname">
        </div>
      </div>
      <div class="mb-3">
        <label for="username">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Username"  readonly   [value]="user.email">
        </div>
      </div>
      <div class="mb-3">
        <label for="number">Number phone</label>
        <div class="input-group">
          <input type="text" class="form-control" id="number" placeholder="Username"  readonly   [value]="user.phoneNumber">
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
