<div *ngIf="isSignUpFailed" class="alert alert-danger" align="center">
  {{errorMessage}}
</div>
<div align="center">
<div class="container" >
  <h3>Registration</h3>
  <form   class="col-5" [formGroup]="registrationForm">
    <div class="form-group">
      <label for="last">Last Name</label>
      <input type="text" class="form-control" formControlName="lastname" id="last">
      <div *ngIf="registrationForm.controls['lastname'].touched">
        <div class="alert alert-danger" *ngIf="registrationForm.controls['lastname'].invalid">
          incorrect last name
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="first">First Name</label>
      <input type="text" class="form-control" formControlName="firstname" id="first" >
      <div *ngIf="registrationForm.controls['firstname'].touched">
        <div class="alert alert-danger" *ngIf="registrationForm.controls['firstname'].invalid">
          incorrect first name
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Number Phone</label>
      <input type="text" class="form-control" formControlName="phoneNumber" id="phone">
      <div *ngIf="registrationForm.controls['phoneNumber'].touched">
        <div class="alert alert-danger" *ngIf="registrationForm.controls['phoneNumber'].invalid">
          incorrect phone number
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" formControlName="email" id="email">
      <div *ngIf="registrationForm.controls['email'].touched">
        <div class="alert alert-danger" *ngIf="registrationForm.controls['email'].invalid">
          incorrect email
        </div>
      </div>
    </div>
    <div class="form-group">
    <label for="pass">password</label>
    <input type="password" class="form-control" formControlName="password"  id="pass">
      <div *ngIf="registrationForm.controls['password'].touched">
        <div class="alert alert-danger" *ngIf="registrationForm.controls['password'].invalid">
          incorrect password
        </div>
      </div>
  </div>
    <div class="form-group">
      <label for="pass1">repeat password</label>
      <input type="password" class="form-control" formControlName="passwordRepeat"  id="pass1">
      <div *ngIf="registrationForm.controls['passwordRepeat'].touched">
        <div class="alert alert-danger" *ngIf="registrationForm.controls['passwordRepeat'].invalid">
          incorrect password or passwords d'nt match
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-info" (click)="saveUser()" [disabled]="registrationForm.controls['lastname'].invalid ||
  registrationForm.controls['firstname'].invalid ||
  registrationForm.controls['phoneNumber'].invalid ||
  registrationForm.controls['email'].invalid ||
  registrationForm.controls['password'].invalid">Sign Up</button>
  <p></p>
</div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Registration</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{message.message}}
  </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
